<div class="conteiner">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>検索結果</h2>

      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "ユーザー" %>
          <thead>
            <tr>
              <th>ユーザーネーム</th>
            </tr>
          </thead>
          <tbody>
            <% @end_users.each do |end_user| %>
              <tr>
                <td><%= link_to end_user.name, end_user_path(end_user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
          <thead>
            <tr>
              <th>タイトル</th>
              <th>投稿者</th>
            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
                <td><%= link_to article.title, article_path(article.id) %></td>
                <td><%= link_to article.end_user.name, end_user_path(article.end_user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>