<div class="conteiner">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>当サイト(ComboShare) について</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="coll-7">
      <p class="text-center">
        このサイトの使い方について<br>
        軽くたくさん<br>
        書いてあると<br>
        イメージしてください<br>
      </p>
    </div>
  </div>
</div>