<div class="conteiner">
  <div class="row justify-content-center">
    <div class="col">
      <div class="row justify-content-center">
        <h1><strong>ようこそ、ComboShareへ！</strong></h1>
      </div>
      <div class="row justify-content-center">
        <p>
          ここはテキストオンリーの格ゲー攻略交換サイトです<br>
          自分なりの攻略を投稿して意見交換しよう！
        </p>
      </div>

      <!--ゲストログイン-->
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row justify-content-center">
          <div class="col-6">
            <%= link_to 'ゲストログイン', end_users_guest_sign_in_path, class: "btn btn-warning btn-sm btn-block mb-3 sign_in", method: :post %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <%= link_to 'Log in',new_end_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-6">
            <%= link_to 'Sign Up',new_end_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>