<h1>記事フォーム</h1>
  <%= form_with model: @article, url:articles_path do |f| %>
    <h4>記事タイトル</h4>
      <%= f.text_field :title %>
    <h4>内容</h4>
      <%= f.text_area :body, class:"form-control",style:"width:100%", rows:"11" %>
    <%= f.submit '投稿' %>
  <% end %>